.nav-link {
    font-family: 'Great Vibes', cursive;
    font-size: 2rem;
}

.ivory {
    background-color: #fff6ea;
}

.sage {
    background: linear-gradient(195deg, #fff6ea, #637E76, #fff6ea, #637E76);
    background-size: 180% 180% 100%;
    animation: gradient-animation 18s ease infinite;
}

.banner-text-large {
    font-family: 'Great Vibes', cursive;
    text-align: center;
}

.banner-text-medium {
    font-family: 'Great Vibes', cursive;
    text-align: center;
}

.vibes-font {
    font-family: 'Great Vibes', cursive;
    text-align: center;
}

.gold {
    color: #C69774;
}

@media (max-width: 992px) {

    .logo {
        padding-top: .8rem;
        padding-bottom: .8rem;
    }

    .menu > div {
        padding-bottom: .8rem;
    }

    .lg-p {
        font-size: 1.5rem;
    }
    
    .banner-text-large {
        font-family: 'Great Vibes', cursive;
        font-size: 2.5rem;
        text-align: center;
        padding-top: 20px;
    }

    .banner-text-medium {
        font-family: 'Great Vibes', cursive;
        font-size: 1.5rem;
        text-align: center;
    }

    .vertdiv {
        height: 90px;
    }
    
    .cloud-bookcase {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .cloud-bookcase > img {
        height: 90px;
    }

}

@media (min-width: 992px) {

    .rheader {
        display: flex;
        padding-top: 1.8rem;
        padding-bottom: 1.8rem;
    }

    .logo {
        padding-left: 9rem;
    }

    .logo > img {
        height: 80px;
    }

    .menu {
        display: flex;
        justify-content: space-between;
        padding-left: 7rem;
    }

    .menu > div {
        padding-top: .5rem;
        padding-bottom: .5rem;
        padding-left: 9rem;
    }

    .lg-p {
        font-size: 2rem;
    }

    .mdbanner {
        padding-top: 3rem;
    }

}
